.container {
  width: 100%;  
  overflow-y: scroll;
}


.header {
  background: rgb(0, 0, 0);
  padding: 10px 10px 10px 10px;
  position:fixed;
  width:100%;
  top:0;
}
.header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
}

.nav {
  float: right;
}

.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  
}

.nav li {
  display: inline-block;
  margin-left: 30px;
  padding-top: 20px;
  position: relative;
  margin-right: 15px;
}

.nav a {
  color: rgb(151, 150, 150);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

.nav a:hover {
  color: rgb(255, 255, 255);
}

.nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;
  
  transition: all ease-in-out 200ms;
}

.nav a:hover::before {
  width: 100%;
}


.body {
  margin-top: 43px;
  width: 100%;
  display: flex;
  align-items: center;
  background-image: linear-gradient(#454444,white);  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
  Bitstream Vera Sans Mono, Courier New, monospace;
  font-weight: 300;
  min-height: 100vh;
  vertical-align: middle;
  z-index: 1;
}

.slider {
  position: relative;
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
}

.image {
  width:1000px;
  height:600px;
  border-radius: 10px;
}

.rightarrow {
  position: absolute;
  top: 50%;
  right:32px;
  font-size: 3rem;
  color: #000;
  z-index:1;
  cursor: pointer;
  user-select: none ;
}

.leftarrow {
  position: absolute;
  top: 50%;
  left:32px;
  font-size: 3rem;
  color: #000;
  z-index:1;
  cursor: pointer;
  user-select: none ;
}


.button {
  background-color: rgb(131, 127, 127);
  border: none;
  padding: 5px 8px 0px 5px;
  margin-left: 10px;
  display: inline-block;
  font-size: 11px;
  transform: translateY(-35%);
  
}

.active, .button:hover {
  background-color: rgb(176, 176, 176);
  text-decoration: rgb(153, 149, 156);
}

.button {border-radius: 12px;}

.landingImage {
  margin-top: -150px;
  width: 100%;
}

.title {
  position: absolute;
  font-size: 2rem;
  color: #ffffff;
  text-decoration: none; 
  text-align: center;
  top: 450px;
  font-family: "Lucida Console", "Courier New", monospace;
  background-color: #000;
  width:100%;
  
}


.pics{
  transform: translateX(-600px) translateY(320px);
  flex-direction: column;
  margin-bottom: 20px;
}


.footer {
  position: fixed;
  height: 35px;
  left:0;
  padding-right:0;
  width: 100%;
  background-color: #454444;
  bottom: 0;
  text-align: center;
}

.footer a {
  color: white;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
  Bitstream Vera Sans Mono, Courier New, monospace;
  font-size: smaller;
  display:inline-block;
  padding-top: 10px;
}


.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

